; EditorConfig to support per-solution formatting.
; Use the EditorConfig VS add-in to make this work.
; http://editorconfig.org/

; This is the default for the codeline.
root = true

[*]
indent_style = space
trim_trailing_whitespace = true

[*.rst]
indent_size = 2
end_of_line = lf

[*.{config,cs,xml}]
indent_size = 4

[*.{proj,props,sln,targets}]
indent_style = tab

[*.{kproj,csproj,json,ps1,psd1,psm1,resx}]
indent_size = 2

[NuGet.Config]
indent_size = 2
