# Project specific files
artifacts/

# User-specific files
*.suo
*.user
*.sln.docstates
*.ide
Index.dat
Storage.dat

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Node
node_modules/

# Python
.venv/
