# Set default behavior to automatically normalize line endings.
* text=auto

*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

*.jpg  binary
*.png  binary
*.gif  binary

# Force bash scripts to always use lf line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.in text eol=lf
*.sh text eol=lf

# Likewise, force cmd and batch scripts to always use crlf
*.cmd text eol=crlf
*.bat text eol=crlf

*.sln text eol=crlf

*.asm    text
*.c      text
*.clj    text
*.config text
*.cpp    text
*.cs     text diff=csharp
*.csproj text
*.css    text
*.cxx    text
*.dbproj text
*.erl    text
*.fs     text
*.fsproj text
*.fsx    text
*.h      text
*.hs     text
*.htm    text
*.html   text
*.hxx    text
*.java   text
*.js     text
*.json   text
*.less   text
*.lisp   text
*.lss    text
*.lua    text
*.m      text
*.md     text
*.php    text
*.props  text
*.py     text
*.rb     text
*.resx   text
*.rst    text eol=lf
*.sass   text
*.scss   text
*.sql    text
*.vb     text
*.vbproj text
*.yaml   text

# Set linguist language for .h files explicitly based on
# https://github.com/github/linguist/issues/1626#issuecomment-401442069
# this only affects the repo's language statistics
*.h linguist-language=C
