# Newer docutils isn't compatible with Sphinx, causes build breaks.
# https://github.com/readthedocs/readthedocs.org/issues/8616
# Bullet lists don't work unless you pin < 0.17
# https://github.com/readthedocs/readthedocs.org/issues/8252
docutils<0.17
Sphinx>=4.3.0
sphinx_rtd_theme>=1.3.0