# Newer docutils isn't compatible with Sphinx, causes build breaks.
# https://github.com/readthedocs/readthedocs.org/issues/8616
# Bullet lists don't work unless you pin < 0.17
# https://github.com/readthedocs/readthedocs.org/issues/8252
sphinx>=9.1.0
sphinx-autobuild>=2024.10.3
sphinx_rtd_theme>=3.1.0
